.DataTable-row {
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  color: rgb(86, 86, 86);
  border-radius: 10px;
  border: 1px solid white;
  margin-top: 10px;
}

.DataTable--cell {
  font-size: inherit;
  text-align: center;
  flex-basis: 100px;
  padding-left: 10px;
  padding-right: 10px;
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.DataTable--cell.flex-grow {
  flex-grow: 8;
  text-align: left;
}

.DataTable--patch {
  max-height: 50px;
  width: auto;
}

.DataTable--link {
  max-height: 2em;
}